<div class="row">
   <div class="col-4">
       <div class="card">
           <div class="card-header">
               Cadastro de Fornecedores
           </div>
           <div class="carde=body">
               <form action="/Fornecedores/Cadastro" method="form-control">
                    <label>ID</label>
                    <input type="number" name="nome" class="form-control" />
                    <br/>

                    <label>Nome</label>
                    <input type="number" name="nome" class="form-control" />
                    <br />

                    <label>Descrição</label>
                    <input type="number" name="nome" class="form-control" />
                    <br />

                    <button type="submit" class="btn btn-success">
                        Cadastrar
                    </button>
                </form>
            </div>
       </div>
   </div>
   <div class="col-4"></div>
</div>