@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Stéfani</td>
            <td>(16) 99633-0345</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Isadora</td>
            <td>(17) 99256-1108</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Ana Gabriela</td>
            <td>(16) 99335-5893</td>
        </tr>
    </tbody>
</table>